<h1>ASK</h1>
<p></p>

<div class="container">
  <div class="form-group">
    <form action="answer" method='get' >
      <label for="question">Speak to your coach</label>
      <input type="text" class="form-control" name="question" placeholder="what is your question?">
      <input type="submit" class="btn btn-primary" value="Go on!">
    </form>
  </div>
</div>

